@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@300&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
span{
  margin: auto 20px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 2px;
}
span:hover{
  color: blueviolet !important;
}

h3{
  border-bottom: 10px solid blueviolet;
}

.repos{
  height:50px;
  width:216px;
  display: inline-block;
  margin: 10px 10px 10px 40px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
}
.repos:hover{
  font-size: 16px;
  transition: 0.2s all ease-out;
}
.tables{
  font-weight: bold;
}